
.error { 
    color: #a04343; 
    margin: 20px; 
}

.input {
    width: 30%; 
    padding: 6px 9px; 
    border: 1px solid black; 
    border-radius: 5px; 
    display: block; 
    font-size: 14px; 
    margin: 10px auto; 
}

.newPatronForm {
    width: 100%; 
    margin: auto; 
    padding-bottom: 50px; 
}

.newPatronToggleArea {
    margin-bottom: 50px; 
}

.radio-button-container {
    margin: 20px auto; 
}

.radio {
    margin-left: 10px; 
    margin-right: 5px;
    position: relative; 
    top: -2px;  
}


@media screen and (max-width: 600px) {
    .input {
        width: 50%; 
    }
}