.fa {
    font-size: 25px;
    margin-left: 10px;
    margin-top: 20px; 
}

.fa-plus {
    color: #fff; 
    transition: 0.3s; 
    margin-left: 20px; 
    margin-right: 20px; 
}

.fa-plus:hover {
    color: #c6c6c6;
}

.patron {
    border: 1px solid grey; 
    color: white; 
    margin: 10px auto; 
    padding: 30px; 
    padding-bottom: 50px; 
}

.level1 {
    background-color: #5b9b6c;  
}

.level2 {
    background-color: #8b9b5b; 
}

.level3 {
    background-color: #9b975b; 
}

.level4 {
    background-color: #9b745b; 
}

.level5 {
    background-color: #9b5b5b; 
}

@media screen and (min-width: 1000px) {
    .patron {
        width: 80%;
        border-radius: 5px;     
    }
}