.welcome {
    width: 270px; 
    margin-left: auto; 
    margin-right: auto;
    margin-top: 30px; 
    padding: 50px; 
    border-radius: 4px;  
    background-color: rgb(240, 240, 240); 
}

.welcome p {
    line-height: 150%;
    font-size: 17px; 
    color: rgb(102, 102, 102);  
}

.top_spacing {
    margin-top: 30px; 
}

@media screen and (max-width: 500px) {
    .welcome {
        width: calc(100% - 100px); 
        margin-left: auto; 
        margin-right: auto;
        margin-top: 0px; 
        padding: 50px; 
        border-radius: 4px;  
        background-color: white;  
    }
}