.welcome {
    width: 300px; 
    margin-left: auto; 
    margin-right: auto;
    padding: 10px 0px 50px 0px; 
}

.welcome p {
    line-height: 150%;
    color: rgb(70, 70, 70);  
}

.top_spacing {
    margin-top: 30px; 
}