body {
  margin: 0;
  margin-bottom: 100px; 
  padding: 0;
  font-family: sans-serif;
}
.button {
  display: block; 
  color: white; 
  padding: 10px 15px; 
  border: 0px;
  font-size: 14px;  
  background-color: #373844; 
  border-radius: 5px; 
  margin: auto; 
  transition: 0.3s;  
  cursor: pointer; 
}
.button:hover {
  background: #252630; 
}

.button_blue {
  display: inline-block; 
  color: white; 
  padding: 10px 15px; 
  border: 0px;
  font-size: 14px;  
  background-color: #373844; 
  border-radius: 5px; 
  margin: auto; 
  transition: 0.3s;  
  cursor: pointer; 
}
.button_blue:hover {
  background: #252630; 
}
.button_red {
  display: inline-block; 
  color: white; 
  padding: 10px 15px; 
  border: 0px;
  font-size: 14px;  
  background-color: #a04343; 
  border-radius: 5px; 
  margin: auto; 
  transition: 0.3s;  
  cursor: pointer; 
  margin-left: 5px; 
}

.button_red:hover {
  background-color: #772C2C; 
}

.button_red_patron {
  display: inline-block; 
  color: white; 
  padding: 10px 15px; 
  border: 0px;
  font-size: 14px;  
  background-color: #a04343; 
  border-radius: 5px; 
  margin: auto; 
  transition: 0.3s;  
  cursor: pointer; 
  margin-left: 5px; 
}

.button_red_patron:hover {
  background-color: #772C2C; 
}