body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.button {
  display: block; 
  color: white; 
  padding: 10px 15px; 
  border: 0px;
  font-size: 14px;  
  background-color: #373844; 
  border-radius: 5px; 
  margin: auto;   
}
